launch>
    <!-- Robot Description -->
    <param name="robot_description" command="$(find xacro)/xacro $(find unitree_joint_publisher)/a1_description/urdf/a1.urdf"/>

    <!-- Joint State Publisher GUI -->
    <node name="joint_command_gui" pkg="unitree_joint_publisher" type="joint_command_gui.py" output="screen" />

    <!-- Joint Command Publisher Node -->
    <node name="joint_command_publisher" pkg="unitree_joint_publisher" type="joint_command_publisher" output="screen" />

    <!-- used for tf -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find unitree_joint_publisher)/rviz/a1.rviz" />
</launch>
